
/* ＝＝＝header＝＝＝ */
header {
  background: url(/img/brando-makes-branding-PjhOkwN0ruY-unsplash.jpg) center center;
  height: 500px;
  background-size: cover;
  align-items: center;
  margin-bottom: 10px;
}

header h1 {
  font-size: 1.5em;
  text-align: center;
  line-height: 500px;
  margin-left: 200px;
  color: #5c5c5c;
}

/* ＝＝＝nav＝＝＝ */

#gnav {
  margin-bottom: 100px;
}
#gnav ul {
  display: flex;
  justify-content: center;
}

#gnav li {
  margin-left: 50px;
  margin-right: 50px;
}
#gnav li a {
  margin-right: 15px;
  justify-content: space-between;
  color: #5c5c5c;
}

#gnav li a:hover {
  color: #c7c6c6;
}

/* ＝＝＝main＝＝＝ */

.inner {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 150px;
}
.inner_title_box h2 {
  font-size: 50px;
  font-weight: bold;
  color: #2e2d2d;
}

/* ＝＝＝スキルテーブル＝＝＝ */

.skills_table {
  margin-bottom: 40px;
}

.skills_table th {
  width: 250px;
}

.skills_table th span {
  background:linear-gradient(transparent 60%, #a2e1ff 60%);
}

.skills_table tr {
  display: inline-block;
  margin-bottom: 20px;

}

.skills_item {
  font-size: 22px;
}

.skill_point {
  padding-left: 60px;
}

.skill_lan {
  font-weight: bold;
}

.skills_box p span{
  background:linear-gradient(transparent 60%, #b6ffb6 60%);
}

/* ＝＝＝Works＝＝＝ */

.itemWord {
  margin: 0 auto;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border: #d3d3d3 solid 1px;
  box-shadow:5px 5px 10px #cecece;
  padding: 30px 10px;
}

.card_img {
  width: 50%;
}

.card img {
  margin-bottom: 20px;
}

.card_explain {
  margin: 0 auto;
}

.card_explain p {
  margin-bottom: 20px;
  font-size: 0.9em;
}

.card_explain_title {
  text-align: center;
  font-weight: bold;
}

.card_explain_title span {
  background: rgb(255, 242, 183);
}


/* ＝＝＝＝＝＝＝JS＝＝＝＝＝＝ */

.scroll-top {
  background-color: rgba(0,0,0,.4);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 2rem;
  right: 2rem;

  height: 50px;
  width: 50px;

  opacity: 0;
  visibility: hidden;

  transition: all .3s;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;

  transition: all .3s;
}